body {
font-family: "Lato", sans-serif;
background-color: rgb(230, 227, 227);
}
  
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom,rgb(87, 36, 128),rgb(45, 20, 66));
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.81);
}

#logo {
  width: 140px;
  bottom: 20px;
  position: fixed;
  left: 6px;
}
  
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #c4c3c3;
  display: block;
  font-style: oblique;
}
  
.sidenav a:hover {
  color: #f1f1f1;
}
  
.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

.main-blog p {
  border: 2px solid rgb(92, 56, 89);
  border-radius: 5px;
  padding: 3px;
}

.main-blog span{
  display: inline-block;
  margin-top: 30px;
  font-size: small;
  font-weight: bold;
  color: blueviolet;
}
  
.main-about {
  text-align: center;
}

#avatar {
  width: 300px;
}

.main-contact form{
  text-align: center;
  margin-top: 50px;
  font-style: oblique;
}
  
.main-contact form * {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
} 

#fname, #subject, #lname {
  width: 50%;
  border-radius: 5px;
}

#email {
  border-radius: 5px;
}

#submit {
  background-color: rgb(142, 79, 155);
  color: white;
  width: 20%;
  border-radius: 5px;
}